@font-face {
    font-family: 'Kumbh Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/bundles/swagsneakerstheme/KumbhSans-Regular.ttf");
}

@font-face {
    font-family: 'Kumbh Sans';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/bundles/swagsneakerstheme/KumbhSans-Bold.ttf");
}

h1  {
    margin-bottom: 2rem;
    font-weight: bold;

    @media screen and (max-width: 575px){
        margin-bottom: 15px;
    }
}

// Navigation

.header-row {
    border-bottom: 1px solid rgba(228, 233, 242, 1);
    padding-bottom: 1px;

    @media screen and (max-width: 575px){
        border-bottom: 0px;
    }

    a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;

    &.nav-link {
        font-size: 15px;
        font-weight: 400;
        padding: 0.5rem 1rem 0rem;
        color: #69707d;

        &:hover {
            color: #1D2026;
        }
    }
}

    .btn {
        padding: 0.125rem 0.75rem 0rem;
        line-height: 28px;
    }

    .main-navigation-link-text {
        padding-bottom: 45px;
    }

    .header-logo-col {
        padding-top: 0.5rem;
    }
}


.product-detail {
    padding: 70px 0px 0px;

    @media screen and (max-width: 575px) {
        padding: 0px;
    }

    .product-detail-manufacturer {
        padding: 62px 0px 27px;

        @media screen and (max-width: 575px){
            padding: 24px 0px 27px;
        }
    }
}
.product-detail-price {
    font-weight: 28px;
    font-size: bold;

    &.with-list-price {
        color: $price-color;
        display: block;
    }
}

.list-price-badge {
    font-size: 16px;
    font-weight: bold;
    background-color: #ffeee2;
    color: $primary;
    width: auto;
    padding: 2px 8px 4px;
}

.product-detail-list-price-wrapper {
    font-size: 16px;
    font-weight: bold;
    color: #b6bcc8;
}

.container {
    max-width: 1110px;
}

.content-main  {
    .container-main {
        padding-top: 45px;
    }
}

.gallery-slider-col {
    @media screen and (max-width: 575px) {
        padding: 0px;
    }

    .gallery-slider-item.is-cover, .gallery-slider-item.is-contain {
        //object-fit: contain !important;

        @media screen and (max-width: 575px){
            min-height: 400px !important;
        }

        @media screen and (max-width: 425px){
            min-height: 300px !important;
        }
    }
    .gallery-slider-image {
        border-radius: 15px;
        //object-fit: contain !important;

        @media screen and (max-width: 575px){
            width: 100vw;
            height: 500px;
            object-fit: cover !important;
            border-radius: 0px;
        }

        @media screen and (max-width: 425px){
            width: 100vw;
            height: 300px;
        }
    }
}
.gallery-slider-thumbnails-container {
    &.is-underneath {
        .tns-outer {
            margin: 0;

            .tns-inner {
                margin: 0;

                .gallery-slider-thumbnails, #tns2, #tns4, #tns6, #tns8, #tns10 {
                    width: 445px;
                    margin: 32px auto 0px;

                    .tns-item {
                        padding-right: 22px;
                        width: inherit;

                        &:last-of-type {
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
    }
}

.gallery-slider-thumbnails-item-inner, .gallery-slider-thumbnails-image, .gallery-slider-thumbnails-item {
    height: 88px;
    width: 88px;
}

.gallery-slider-thumbnails-item-inner {
    padding: 0px;
    border-radius: 10px;
    overflow:hidden;
    border-width: 2px;
}

.card {
    border-radius: 10px;
    overflow: hidden;

    .card-body {
        .product-image-wrapper {
            height: auto;
            margin: -1rem -1rem 0.9375rem;

            .product-image {
                max-height: 15.5rem;

                @media screen and (max-width: 1199px){
                    max-height: 21rem;
                }
                @media screen and (max-width: 991px){
                    object-fit: cover;
                }
            }
        }
    }
}

.breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
}

.cms-block-image-text {
    display: none;
}

.cms-element-sidebar-filter{
    .filter-panel-wrapper{
        .filter-panel {
            margin-bottom: 0px;

            .filter-panel-items-container {
                margin-bottom: 0px;
            }
        }
    }
}

.cms-block-product-listing {
    .cms-block-container {
        padding: 0px 20px 20px 20px;

        .cms-block-container-row {
            .col-12 {
                padding: 0px;

                .cms-element-product-listing-actions {
                    margin-bottom: 45px;

                    .col-md-auto {
                        &:first-of-type {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.footer-copyright {
    display: none;
}
